## Python Libraries - Pandas - Pandas Basics

Pandas is a library built using NumPy specifically for data analysis. You'll be using Pandas heavily for data manipulation, visualisation, building machine learning models, etc. 

There are two main data structures in Pandas:
- Series
- Dataframes 

The default way to store data is dataframes, and thus manipulating dataframes quickly is probably the most important skill set for data analysis.

In [4]:
# import pandas, pd is an alias
import pandas as pd
import numpy  as np

### The Pandas Series 

A series is similar to a 1-D numpy array, and contains scalar values of the same type (numeric, character, datetime etc.). 
A dataframe is simply a table where each column is a pandas series.

In [2]:
# Creating a numeric pandas series
s = pd.Series([2, 4, 5, 6, 9])
print(s)
print(type(s))

0    2
1    4
2    5
3    6
4    9
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
# creating a series of type datetime
date_series = pd.date_range(start = '11-09-2017', end = '12-12-2017')
date_series
type(date_series)

pandas.core.indexes.datetimes.DatetimeIndex

Note that each element in the Series has an index, and the index starts at 0 as usual.

### The Pandas Dataframe 

Dataframe is the most widely used data-structure in data analysis. It is a table with rows and columns, with rows having an index and columns having meaningful names.

There are various ways of creating dataframes, such as creating them from dictionaries, JSON objects, reading from txt, CSV files, etc.

#### Creating dataframes from dictionaries

In [2]:
# Defining data to create lists for dictionary
cars_per_cap = [809, 731, 588, 18, 200, 70, 45]
country = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
drives_right = [False, True, True, True, False, False, False]

In [3]:
# Creating the dictionaries to store the entries as key-value pair.
cars_dict = {"cars_per_cap" : cars_per_cap, "country" : country, "drives_right" : drives_right }

# Create the dataframe 'cars'
cars = pd.DataFrame(cars_dict)

NameError: name 'pd' is not defined

In [8]:
# print the created dataframe
cars

   cars_per_cap        country  drives_right
0           809  United States         False
1           731      Australia          True
2           588          Japan          True
3            18          India          True
4           200         Russia         False
5            70        Morocco         False
6            45          Egypt         False

#### Importing CSV data files as pandas dataframes 

For the upcoming exercises, we will use a car dataset which holds the following information:

- Region Code 
- Country
- Coutry Code
- Car per capita
- Drives Right

In [10]:
# read the data from the csv file
cars =pd.read_csv("cars.csv")


# check the dataframe created
cars

       0    1              2      3      4
0   USCA   US  United States  809.0  False
1  ASPAC  AUS      Australia  731.0   True
2  ASPAC  JAP          Japan  588.0   True
3  ASPAC   IN          India   18.0   True
4  ASPAC   RU         Russia  200.0  False
5  LATAM  MOR        Morocco   70.0  False
6    AFR   EG          Egypt   45.0  False
7    EUR  ENG        England    NaN   True

In [6]:
cars_dict.index

AttributeError: 'dict' object has no attribute 'index'

As you can see from the dataframe above, the first row has been taken as the column header for the dataframe. Let's see how to prevent that.

In [15]:
# load the dataframe from the csv without any header = pd.read_csv("marks_1.csv", header=None,index_col=1)
marks_1 = pd.read_csv("marks_1.csv", header=None, index_col=1)

# check the dataframe created
marks_1

IndexError: list index out of range

Now, the columns have the labels as 0, 1, 2, etc. The top row is now considered as a part of the row entries.

## Python Libraries - Pandas - Rows and Columns

### Indices and Labels

#### Indices 

An important concept in pandas dataframes is that of *row indices*. By default, each row is assigned indices starting from 0, and are represented at the left side of the dataframe. 

Now, arbitrary numeric indices are difficult to read and work with. Thus, you may want to change the indices of the dataframe to something more meanigful.

Let's change the index to the second column which stores the country codes, so that you can select rows using the country code directly.

In [26]:
# load the data into a dataframe with no header and index column as the second column
cars = pd.read_csv("cars.csv", header = None, index_col = 1)

# Check the created dataframe
cars

         0              2      3      4
1
US    USCA  United States  809.0  False
AUS  ASPAC      Australia  731.0   True
JAP  ASPAC          Japan  588.0   True
IN   ASPAC          India   18.0   True
RU   ASPAC         Russia  200.0  False
MOR  LATAM        Morocco   70.0  False
EG     AFR          Egypt   45.0  False
ENG    EUR        England    NaN   True

In [27]:
# Print the label of the index column
cars.index.name

1

In [30]:
# Remove the label of the index column
del cars.index.name

AttributeError: can't delete attribute

In [29]:
# Check the created dataframe
cars

         0              2      3      4
1
US    USCA  United States  809.0  False
AUS  ASPAC      Australia  731.0   True
JAP  ASPAC          Japan  588.0   True
IN   ASPAC          India   18.0   True
RU   ASPAC         Russia  200.0  False
MOR  LATAM        Morocco   70.0  False
EG     AFR          Egypt   45.0  False
ENG    EUR        England    NaN   True

Having meaningful row labels as indices helps you to select (subset) dataframes easily. You will study selecting dataframes in the next section. Let's now try to change the column headers.

#### Column headers

In [31]:
# Print the column headers of the dataframe
cars.columns

Int64Index([0, 2, 3, 4], dtype='int64')

In [ ]:
# Change the label of each column


# Check the created dataframe

Without the labels, it will be very difficult to remember the information stored in the columns. Now you can easily make sense from the entries stored in the dataframe. Let's now try to define multiple indices in a dataframe.

#### Multi-indexing in Pandas

In [ ]:
# Import the data from a csv file with multiple indices
cars = 

# Check the created dataframe

In [ ]:
# Change the column names as above


# Check the created dataframe

In [ ]:
# Print the index labels

In [ ]:
# Change the index labels: 0 - Region_code, 1 - Country_code


# Check the created dataframe

In [ ]:
# Print the inforamtion of the index in the dataframe

Multi-indexing is very useful to establish a hierarchy in the entries. It helps to segregate data into different categories and makes it easier to analyse the data.